.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
  margin-top: 40px;
}
.PostsContainer {
  display: flex;
  justify-content: space-around;
  margin: 8px;
  overflow: hidden;
}
.x-largeD {
  font-size: 1.8rem !important;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 0.2rem !important;
  text-align: center;
  font-family: 'Nerko One', cursive;
  color: rgb(240, 174, 209);
}
.largeD {
  font-size: 1.4rem !important;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 0.2rem !important;
  font-family: 'Ubuntu', sans-serif;
  color: rgb(243, 232, 238);
}
.DashboardContainer {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  min-height: 100vh;
  margin: auto !important;
  padding: 5px !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.images {
  height: 330px;
}
.section__inner {
  zoom: 1;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
  padding-top: 5px;
}
.main-footer {
  font-size: 1em;
  color: #ababab;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  background-color: rgb(73, 78, 83);
}
.main-footer p {
  margin-bottom: 0.4em;
}
.section__inner p span {
  color: rgb(207, 119, 207);
  text-decoration: none !important;
}
.PostCard {
  background-color: rgb(124, 121, 121) !important;
  color: rgb(236, 233, 233) !important;
  border-radius: 3% !important;
  overflow: hidden !important;
  border: solid 2px rgb(231, 179, 207) !important;
  box-shadow: 0 4px 8px 0 rgba(85, 84, 84, 0.2) !important;
  transition: 0.3s !important;
}

.Card-over {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  background-color: white;
  transform: translateY(-102%);
  transition: transform 0.3s ease-in-out;
}
.PostsContainer:hover .Card-over {
  transform: translateY(10%);
}
.btnBox {
  display: flex;
  justify-content: space-around;
}
.btnDltMdfy {
  display: flex;
  justify-content: flex-start;
  margin-left: 5px;
}
