.tb {
  display: table;
  width: 100%;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

.input {
  color: #fff;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

.cover {
  position: absolute;
  top: 7%;
  left: 0;
  right: 0;
  width: 900px;
  padding: 15px;
  margin: 1px auto 0 auto;
  background-color: #ff7575;
  border-radius: 20px;
  box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
  transform: scale(0.4);
}

.form {
  height: 80px;
  margin-top: 17px;
}

.input {
  width: 100%;
  height: 80px;
  font-size: 50px;
  line-height: 1;
}

.input::placeholder {
  color: #e0cece;
}
