.landingAdmin {
  position: relative;
  background: url('../../img/background.jpg') no-repeat center center/cover;
  height: 100vh;
}

.landing-innerAdmin {
  color: #fff;
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.lead {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: 'Courgette', cursive !important;
}

.dark-overlayAdmin {
  background-color: rgba(37, 37, 37, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.x-large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-family: 'Courgette', cursive !important;
}
.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}
.btn-signUp {
  background: rgb(192, 32, 192) !important;
  color: #fff !important;
}
.btn-light {
  background: lightcyan;
  color: #333;
}

.btn:hover {
  opacity: 0.8;
}

.section__innerAdmin {
  zoom: 1;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}
.main-footerAdmin {
  font-size: 1em;
  color: #ababab;
  text-align: center;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-top: 0;
  margin-bottom: 0 !important;
  background-color: rgb(54, 57, 59);
}

.link-toAdmin {
  margin-top: 0.4em;
  color: rgb(192, 32, 192);
  outline: 0;
  transition: all 0.2s ease 0s;
  padding-bottom: 0px;
}
.linkFooterAdmin {
  color: rgb(231, 219, 236);
  padding: auto;
  margin: auto;
  font-size: 18px;
  text-decoration: none !important;
}
.linkFooterAdmin :hover {
  color: rgb(207, 119, 207);
  text-decoration: none !important;
}
.section__innerAdmin p span {
  color: rgb(207, 119, 207);
  text-decoration: none;
}

.link-toAdmin :hover {
  color: rgb(207, 119, 207);
  text-decoration: none !important;
}
