.x-largeA {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 10px;
  text-align: center;
  font-family: 'Modak', cursive !important;
  color: rgb(215, 18, 124);
}
.largeA {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-align: center;
  color: white;
  font-family: 'Sansita Swashed', cursive !important;
}

.img {
  width: 200px;
  margin-left: 560px;
}

.AboutContainer {
  background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
  min-height: 100vh;
  margin: 0px !important;
  padding: 0px !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.About-lead {
  font-size: 1.4rem;
  margin: 1rem;
  font-family: 'Sansita Swashed', cursive !important;
  text-align: center;
  color: rgb(44, 29, 42);
}
.section__inner {
  zoom: 1;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
  padding-top: 5px;
}
.main-footer {
  font-size: 1em;
  color: #ababab;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  background-color: rgb(73, 78, 83);
}
.main-footer p {
  margin-bottom: 0.4em;
}

.link-to {
  margin-top: 0.4em;
  color: rgb(192, 32, 192);
  outline: 0;
  transition: all 0.2s ease 0s;
  padding-bottom: 10px;
}
.linkFooter {
  color: rgb(240, 235, 235);
  padding: 0.45rem;
  margin: 0 0.25rem;
  font-size: 18px;
  text-decoration: none !important;
}
.linkFooter :hover {
  color: rgb(207, 119, 207);
  text-decoration: none !important;
}
.section__inner p span {
  cursor: pointer;
  color: rgb(240, 235, 235);
  text-decoration: underline;
}
.section__inner span:hover {
  color: rgb(207, 119, 207);
  text-decoration: none !important;
}
.link-to :hover {
  color: rgb(207, 119, 207);
  text-decoration: none !important;
}
.cardChef {
  margin-left: 530px;
  margin-top: 10px;
  margin-bottom: 20px;
}
a {
  margin: 4px;
}
.icon :hover {
  color: rgb(207, 119, 207);
}
